<mat-sidenav-container class="bar-container"  [class.alternate-theme]="isAlternateTheme">
  <mat-sidenav #sidenav class="bar-sidenav mat-elevation-z12" [opened]="isScreenLarge()" [mode]="getMode()">
    <mat-toolbar color="accent" class="bar-sidenav-title">tt</mat-toolbar>
  </mat-sidenav>
  <div class="bar-sidenav-content">
    <app-toolbar (toggleSideNav)="sidenav.toggle()" (toggleRtl)="toggleRtl()" (toggleTheme)="toggleTheme()"></app-toolbar>
    <mat-card class="sec mat-elevation-z8">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</mat-sidenav-container>
