<mat-card>
  <mat-card-title class="biggger"> User Summary</mat-card-title>
  <mat-card-subtitle class="bigger">
  {{currentUser.username}}
</mat-card-subtitle>
<mat-card-content class="big">
  {{currentUser.first_name}}     {{currentUser.last_name}}

</mat-card-content>
  <div class="big">
    {{currentUser.email}}
  </div>
  <div *ngIf="currentUser.is_staff">
    <mat-card-footer class="big">
    Staff member
    </mat-card-footer>
  </div>
  <button routerLink="/profile" class="mat-elevation-z5" color="accent" mat-button> full profile page</button>
</mat-card>
