<h1 mat-dialog-title>
    Sign Up
  </h1>
  <mat-dialog-content>
    <mat-card class="mat-elevation-z10">
      <app-user [userForm]="userForm"></app-user>
      <input #imageInput
             placeholder="choose a picture"
             type="file"
             accept="image/*"
             (change)="processFile(imageInput)">
      <button class="forms-button" routerLink="/all-users" [disabled]="disableSubmit()" (click)="onSubmit()" mat-button>register
      </button>
    </mat-card>

  </mat-dialog-content>
