<div >
<h1>{{homeText}}</h1>
  <p >
    Welcome To Dice Mania Here You can enjoy playing the boring awful piggy game! so let' start
  </p>
  <div class="flex-container">
    <div class="flex-column">
  <div class="flex-container">
    <div >
    <app-online-users></app-online-users>
    </div>
  <div *ngIf="currentUser">
    <app-online-friends></app-online-friends>
  </div>
  </div>
  <div >
  <app-best-game-modes></app-best-game-modes >
  </div>
    </div>
  <div *ngIf="currentUser">
    <app-mini-profile [currentUser]="currentUser"></app-mini-profile>
  </div>
</div>
</div>
