<div *ngIf="user">
  <mat-card>
    <button class="mat-elevation-z5" *ngIf="!isFriend" (click)="addFriend()" mat-button><mat-icon>add</mat-icon> follow</button>
    <button class="mat-elevation-z5" *ngIf="isFriend" (click)="removeFriend()" mat-button>unfollow</button>
  <div> {{user.username}}</div>
  <div> {{user.first_name}}</div>
  <div> {{user.last_name}}</div>
  <div> {{user.email}}</div>
    <img src="{{user.picture}}" alt="no image">
</mat-card>
  <app-comment></app-comment>
  <app-comment-field></app-comment-field>
</div>
