<div class="flex-container">
<mat-card class="mar mat-elevation-z5">
  <mat-card-title> top rated Games</mat-card-title>
  <div *ngFor="let mode of modeRates">
  <mat-card-subtitle class="emph"> {{mode.name | uppercase}}</mat-card-subtitle>
    <mat-progress-bar mode="determinate" value="{{mode.rate * 20}}" color="warn"></mat-progress-bar>
  <mat-card-content> {{mode.rate}}</mat-card-content>
</div>
</mat-card>
<mat-card class="mar mat-elevation-z5">
  <mat-card-title> Most played Games </mat-card-title>
  <div *ngFor="let mode of modeCount">
    <mat-card-subtitle class="emph"> {{mode.name | uppercase}}</mat-card-subtitle>
    <mat-card-content> {{mode.count}}</mat-card-content>
  </div>
</mat-card>
<mat-card class="mar mat-elevation-z5">
  <mat-card-title> Newest Top rated Games</mat-card-title>
  <div *ngFor="let mode of newModeRates">
    <mat-card-subtitle class="emph"> {{mode.name | uppercase}}</mat-card-subtitle>
    <mat-progress-bar mode="determinate" value="{{mode.rate * 20}}" color="warn"></mat-progress-bar>
    <mat-card-content> {{mode.rate}}</mat-card-content>
  </div>
</mat-card>
</div>
