<mat-toolbar color="primary" class="toolbar-list">
  <mat-toolbar-row>
    <button type="button" mat-button class="sidenav-component" (click)="toggleSideNav.emit()">
      <mat-icon> menu </mat-icon>
    </button>
    <span class="main-title">
      <mat-icon>games</mat-icon>
      Dice Mania
    </span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu #menu="matMenu" >
        <!-- <button mat-menu-item (click)="openDialog()">add</button> -->
        <button mat-menu-item routerLink="/" routerLinkActive="hide">Home</button>
        <button mat-menu-item (click)="toggleTheme.emit()">theme</button>
        <button mat-menu-item routerLink="all-users" routerLinkActive="hide">All Users</button>

    </mat-menu>
    <mat-menu #account="matMenu" >
        <button mat-menu-item routerLink="sign-up" routerLinkActive="hide">Sign Up</button>
        <button mat-menu-item routerLink="login" routerLinkActive="hide">Log In</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
